# v0 sandbox internal files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.snowflake/
.v0-trash/
.vercel/

# Environment variables
.env*.local

# Common ignores
node_modules
.next/
.DS_Storevenv_rembg/
.vercel
venv/

venv-rembg/
venv_rembg/
venv/
*.pyc
__pycache__/
public/projects/YA_originals_videos/SOLITAR_YA/THE THEME SONG + FIRE BLAZE ft. Rich Kidd_1080p.mp4
public/projects/fafiella.mp4
